
.mainApp {}

.ScanButtonBox { display:flex; justify-content: center; align-items: center; padding:20px 0 10px 0; border: 1px solid #ddd; margin-bottom: 10px; }
.pageBox { display: flex; justify-content: center; align-items: center; }

.DataTable .adsBox { display: flex; justify-content: center; align-items: center; flex-wrap: wrap; }
.DataTable .adCard { display:block; width:15%; height: 140px; margin: 5px; }